---
---

@import 'base.css';
@import "../fonts/fontface.css";

$font-reg: 'lilgroteskregular';
$font-bold: 'lilgroteskbold';

// COLORS
$dark: #27262d;
$light: #ffffff;
$accent-color: #f44336;

body {
  background-color: $dark;
  color: $light;
  font-family: $font-reg;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.1px;
  line-height: 1.4;
  max-width: 1024px;
  margin: 60px auto;
}

h1,h2,h3 {
  font-family: $font-reg;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 48px;
  }

  a {
    margin-left: 10px;
  }
}

section {
  margin: 40px 0 0 0;
}
nav a {
  text-decoration: none;
  color: $light;
  font-family: $font-bold;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 16px;
}

nav a.selected, p a {
  color: $light;
  text-decoration: none;
  border-bottom: 2px solid $accent-color;

  &:hover {
    border-bottom: 2px solid $light;
  }
}

p.read-more {
  font-weight: bold;
}

div.blog-posts {
  max-width: 540px;

  a {
    text-decoration: none;
    font-family: $font-bold;
    font-weight: bold;
    color: $light;
    display: block;
    margin: 0 0 40px 0;
  }
}

img {
  max-width: 780px;
}

div.circle {
  position: fixed;
  bottom: -250px;
  right: -250px;
  width: 500px;
  height: 500px;
  background-color: $accent-color;
  border-radius: 50%;
}
div.post {
  p {
    max-width: 540px;
    margin-bottom: 40px;
  }
  img {
    max-width: 780px;
  }
  h3 {
    margin-top: 80px;
  }
}
